<div class="container">
    <div class="row">
        <form id="loginform" name="loginform" method="post" class="six columns offset-by-three">
            <input type="text" name="email" placeholder="Email" class="u-full-width" />

            <input type="password" name="password" placeholder="Password" class="u-full-width" />

            <input type="submit" id="loginbtn" value="Login" class="u-full-width button-primary" />
        </form>
    </div>
</div>